.section-heading{
    text-align: center;
    h2{
        font-weight: 400;
        padding-bottom: 20px;
        font-size: 30px;
        line-height: 1.1;
        color: $black;
    }
    p{
        margin: 0 0 10px;
        font-size: 13px;
        color: $black;
    }
}