<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="images/1.jpg" alt="First slide">
                        <div class="slider-details">
                            <h2>CREATIVE WEB DESIGN AGENCY</h2>
                            <h2>WEB DESIGN & CODE YOUR DREAM</h2>
                            <a href="#" class="btn">LEARN MORE</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/2.jpg" alt="Second slide">
                        <div class="slider-details">
                            <h2>FLEX SLIDER, CSS FLEXBOX</h2>
                            <h2>WORK ON ALL MODERN BROWSERS, IE 10+</h2>
                            <a href="#" class="btn">MEET OUR TEAM</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/3.jpg" alt="Third slide">
                        <div class="slider-details">
                            <h2>SPECIAL THANKS</h2>
                            <h2>UNSPLASH.COM, FLEXSLIDER, BOOTSTRAP, JQUERY</h2>
                            <a href="#" class="btn">ABOUT US</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section> 
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto section-heading">
                        <h2>SOME FEATURES</h2>
                        <p>Composite is free responsive mobile template from website. Feel free to use this layout for any website project. Please tell your
                            friends about us. Thank you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 features-details">
                        <a href="#"><i class="fa fa-laptop"></i></a>
                        <h3>Responsive Design</h3>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes. Etiam elementum laoreet mauris. Ut rutrum feugiat
                            neque.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 features-details">
                        <a href="#"><i class="fa fa-cog"></i></a>
                        <h3>Bootstrap 3</h3>
                        <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 features-details">
                        <a href="#"><i class="fa fa-font"></i></a>
                        <h3>Google Web Fonts</h3>
                        <p>Ut rutrum feugiat neque. Etiam elementum laoreet mauris. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 features-details">
                        <a href="#"><i class="fa fa-user"></i></a>
                        <h3>User Friendly</h3>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes. Etiam elementum laoreet mauris. Ut rutrum feugiat neque.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto section-heading">
                        <h2>ABOUT US</h2>
                        <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus
                        nonummy venenatis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 about-info">
                        <h3>We are COMPOSITE</h3>
                        <h4>WEB DESIGN & DEVELOPMENT AGENCY</h4>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum dapibus lectus a ligula
                        blandit ac egestas ipsum facilisis toque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
                        dapibus lectus a ligula blandit ac egestas ipsum facilisi.</p>
                        <p>Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis
                        sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 about-skills">
                        <span>HTML5</span>
                        <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                        <span>CSS3</span>
                        <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 100%;"></div>
                        </div>
                        <span>PHOTOSHOP</span>
                        <span class="pull-right">80%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                        <span>JQUERY</span>
                        <span class="pull-right">90%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto section-heading">
                        <h2>MEET THE TEAM</h2>
                        <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus
                        nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.</p>
                    </div>
                </div>
                <div class=row> 
                    <div class="col-sm-6 col-md-3 team-details">
                        <img src="images/member1.jpg" class="img-responsive img-fluid" alt="team 1">
                        <h3>TRACY</h3>
                        <p>DESIGNER</p>
                    </div>
                    <div class="col-sm-6 col-md-3 team-details">
                        <img src="images/member2.jpg" class="img-responsive img-fluid" alt="team 1">
                        <h3>MARY</h3>
                        <p>DEVELOPER</p>
                    </div>
                    <div class="col-sm-6 col-md-3 team-details">
                        <img src="images/member3.jpg" class="img-responsive img-fluid" alt="team 1">
                        <h3>JULIA</h3>
                        <p>DIRECTOR</p>
                    </div>
                    <div class="col-sm-6 col-md-3 team-details">
                        <img src="images/member4.jpg" class="img-responsive img-fluid" alt="team 1">
                        <h3>LINDA</h3>
                        <p>MANAGER</p>
                    </div>
                </div>
            </div>
        </section>   
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto section-heading">
                        <h2>PORTFOLIO</h2>
                        <p>Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim vitae metus
                        nonummy venenatis. Curabitur semper rutrum sapien.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p1.jpg" class="img-fluid"> 
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p2.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p3.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p4.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p5.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p6.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p7.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="portfolio-details">
                            <img src="images/p8.jpg" class="img-fluid">
                            <div class="image_overlay">
                                <a href="#"><i class="far fa-thumbs-up"></i></a>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 m-auto section-heading">
                        <h2>CONTACT US</h2>
                        <p>Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis
                        sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 contact-address">
                        <h3>OUR ADDRESS</h3>
                        <p><i class="fa fa-phone"></i> <span>090-080-0980</span></p>
                        <p><i class="far fa-envelope"></i> <span><a href="#">info@company.com</a></span></p>
                        <p><i class="fa fa-globe"></i> <span><a href="#">http://www.company.com</a></span></p>
                        <p><i class="fa fa-map-marker"></i> <span>360 Aenean Quis Semper, Maecenas 10450</span></p>
                    </div>
                    <div class="col-sm-12 col-md-8 contact-form">
                        <form action="#" method="post" role="form">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="SEND MESSAGE" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>        
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>